# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyc

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROOT files and plots (i.e. PDF files)
*.root
*.pdf

# PNG or JPG plots
*.png
*.jpg

# H5 files
*.h5

# Any ipynb checkpoints
*ipynb_checkpoints*

tables/
quick/
histos/
plots/pdf/
plots/png/
build/
